:root{
    --clr-orange:hsl(31, 77%, 52%);
    --clr-green:hsl(184, 100%, 22%);
    --clr-green-900:hsl(179, 100%, 13%);

    --clr-primary-text:hsl(0, 0%, 95%);
    --clr-secondary-text:hsla(0, 0%, 100%, 0.75);
}
