@import "color";

.attribution{
    background: var(--clr-white-secondary-300);
    padding: .5em 1em;
    position: sticky;
    bottom:0;
    left: 0;
}

:root{
    font-family: 'Lexend Deca', sans-serif;
}

body{
    margin:0;
    padding:0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.container{
    max-width: 1000px;
    margin: 3em auto;
}

// @media screen and (max-width:375px){
    .grouped-card{
        display: flex;
        flex-direction: column;
        border-radius: 8px;
        margin: 0 1em;
        overflow: hidden;
        line-height: 1.5;

        .card{
            padding: 2em 2.5em;
            color: var(--clr-secondary-text);

            &:nth-child(1){
                background: var(--clr-orange);

                .btn-primary{
                    color:var(--clr-orange);
                }
            }
            &:nth-child(2){
                background: var(--clr-green);

                .btn-primary{
                    color:var(--clr-green);
                }
            }
            &:nth-child(3){
                background: var(--clr-green-900);

                .btn-primary{
                    color:var(--clr-green-900);
                }
            }

            h1{
                color: var(--clr-primary-text);
                font-family: 'Big Shoulders Display', cursive;
            }

            .btn{
                display: inline-block;
                cursor: pointer;
                text-decoration: none;
                box-sizing: border-box;
                transition: .3s ease;

                &.btn-primary{
                    background: var(--clr-primary-text);
                    padding: .6em 1.5em;
                    border-radius: 3em;
                }
                &.btn-primary:hover,
                &.btn-primary:focus-visible
                {
                    background: transparent;
                    color: var(--clr-secondary-text);
                    // border: 1px solid var(--clr-secondary-text);
                    // outline:none;
                    box-shadow: 0 0 0 1px var(--clr-secondary-text);

                }
                &.btn-primary:focus-visible{
                    outline-offset: .4em;
                    outline: 2px dashed;
                }
            }

        }

    }
// }
@media screen and (min-width:376px){
    .container{
        margin:auto;
    }
    .grouped-card{
        flex-direction: row;
        font-size: clamp(.7em,1vw,1em);

        .card {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }

        .btn-primary{
            font-size: clamp(0.7em, 1vw, 1em);
        }
    }
}
